<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(224, 75, 75);">
    <div class="container-fluid">
        <a class="navbar-brand">Gotta catch 'em all</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ng-container *ngIf="trainer !== undefined">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/catalogue" routerLinkActive="active">Catalogue</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/trainer" routerLinkActive="active">Trainer</a>
                    </li>
                </ul>
                <button class="btn btn-outline-light" (click)="onLogOutClick()">Sign out</button>
            </div>
        </ng-container>
    </div>
</nav>