<header class="text-center my-3">
    <h1 class="profile-title">Welcome, {{this.trainer?.username}}</h1>
</header>
    <main class="container">
    <h3 class="text-center my-3">Pokémon collection</h3>
    <app-pagination [pokemon]="pokemon"></app-pagination>
</main>