<ng-container *ngIf="isCollected; then collected else notCollected"></ng-container>
<ng-template #collected>
    <p>Collected!</p>
</ng-template>
<ng-template #notCollected>
    <button class="btn btn-primary mb-auto" (click)="onCatchButtonClick()">Catch</button>
</ng-template>
