.input-group {
    max-width: 400px;
}

svg.bi.bi-arrow-right-circle-fill {
  color: #9381FF;
  width: 28px;
  height: 28px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}