<!-- Event binding which listens for onSumbit events. -->
<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        ngModel
        #trainername="ngModel"
        name="username"
        id="username"
        placeholder="Enter a Trainer name"
        aria-label="Enter a Trainer name"
        aria-describedby="button-addon2"
        required
        minlength="3" />

      <button type="submit" class="btn btn-outline-secondary" id="button-addon2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-right-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
          />
        </svg>
      </button>
    </fieldset>
  </form>

  <div *ngIf="trainername.invalid && (trainername.dirty || trainername.touched)" 
      class="alert">
      <div *ngIf="trainername.errors?.['required']">
          Name is required.
      </div>
      <div *ngIf="trainername.errors?.['minlength']">
          Name must be at least 3 characters long.
      </div>
  </div>
</div>
