.pokemon-card {
    width: 10rem;
    height: 14rem;
    border: 0.6rem solid rgb(255, 220, 0);
    border-radius: 0.6rem;
    background-color: rgb(245, 245, 245);
}

.pokemon-img-border {
    border: 0.2rem solid rgb(255, 220, 0);
    background-color: white;
}

.pokemon-img {
    display: block;
    text-align: center;
    object-fit: cover;
    object-position: center;
}
