<div class="pokemon-card">
    <h6 class="ms-2 mb-0 mt-1">{{ monster.name }}</h6>
    <div class="card mx-2 pokemon-img-border">
        <img class="pokemon-img" [src]="getSprite()" [alt]="monster.name"/>
    </div>
    <div class="d-flex m-2 justify-content-center">
        <ng-container [ngSwitch]="getRouterUrl()">
            <app-catch-pokemon *ngSwitchCase="'/catalogue'" [monsterName]="monster.name"></app-catch-pokemon>
            <app-remove-pokemon *ngSwitchCase="'/trainer'" [monsterName]="monster.name"></app-remove-pokemon>
        </ng-container>
    </div>
</div>
