<!-- TEMP? just a simple flexbox until we implement pagination -->
<div class="d-flex flex-wrap justify-content-center gap-3 pb-3">
    <ng-container *ngFor="let monster of pokemon">
        <ng-container *ngIf="getRouterUrl() === '/catalogue'">
            <app-pokemon-card  [monster]="monster"></app-pokemon-card>
        </ng-container>
        <ng-container *ngIf="getRouterUrl() === '/trainer' && getUserService().inCollection(monster.name)">
            <app-pokemon-card  [monster]="monster"></app-pokemon-card>
        </ng-container>
    </ng-container>
</div>
